<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" ng-click="vm.no()">&times;</button>
	<h4 class="modal-title">Xóa Bài đăng</h4>
</div>
<div class="modal-body">
	<p>Bạn có chắc chắn xóa Bài đăng này không?</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.no()"><i class="fa fa-undo fa-fw"></i>Không</button>
	<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="vm.yes()"><i class="fa fa-trash fa-fw"></i>Có</button>
</div>